<h2 mat-dialog-title>Criar Guia</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="addGuideForm" (ngSubmit)="addGuide()">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Título">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Conteúdo</mat-label>
      <textarea matInput cols="20" rows="8" formControlName="content"></textarea>
    </mat-form-field>

      <button type="submit" color="primary" mat-raised-button mat-dialog-close>Adicionar Guia</button>
  </form>
</mat-dialog-content>
