<mat-toolbar *ngIf="userName">
  <span>Firebase Autentication</span>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="openDialogAddGuide()">
    <i class="material-icons">note_add</i>
    Adicionar guia
  </button>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="beforeMenu">
    <i class="material-icons">person</i>
    {{ userName }}
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">Sair</button>
  </mat-menu>
</mat-toolbar>

<mat-accordion *ngFor="let guide of guides">
  <mat-expansion-panel hideToggle class="guide-item">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{guide.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{guide.content}}</p>
  </mat-expansion-panel>
</mat-accordion>
